.content-scroll {
  height: 600px;
  overflow: auto;
}

.second {
  margin-left: 2rem;
}

.title {
  text-decoration: none;
  color: black;
}

.category {
  color: rgba(20, 115, 216, 0.592);
  text-transform: capitalize;
}
